{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <h1>Audio Classifier</h1>

        <p class="font-weight-bold">Load a sound!</p>

        <form id="classification-form">
            <div class="form-group">
                <input type="file" name="audio_file" class="form-control-file"  required accept="audio/*">
                <button type="submit" class="btn btn-primary mt-3">Classify</button>
            </div>
        </form>

        
        <div class="col">
            <button class="btn btn-primary mt-3" onclick="toggleSelectAll()" width="32px">Invert Selection</button>
        </div>
        
        <div class="row">
            
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nuisance</th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td><input type="checkbox" name="selected_categories" value="{{ loop.index0 }}" {% if loop.index0 in selected_categories %}checked{% endif %} onchange="submitForm()" ></td>
                            <td>{{ category }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>

                <div class="col">
                    <div class="row">
                        <label for="threshold-slider">Detection Threshold: <span id="threshold-value">{{ threshold }}</span></label>
                        <input type="range" id="threshold-slider" name="threshold" min="0" max="100" value="{{ threshold }}" oninput="$('#threshold-value').text(this.value); submitForm()">
                    </div>
                </div>
            </div>
            
            <div class="col">
                <img id="spectrogram" src="">
            </div>
        </div>

        <h2 id="result"></div>

        <!-- <audio id="audio-player" controls>
            <source src="" type="audio/wav">
            Your browser does not support the audio element.
        </audio> -->

        <table id="prediction-table" class="table">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Confidence %</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function submitForm() {
            const selectedCategories = $('input[name="selected_categories"]:checked').map(function() {
                return this.value;
            }).get();

            const threshold = $('#threshold-slider').val();

            $.ajax({
                type: 'POST',
                url: '{{ url_for("process_categories") }}',
                data: JSON.stringify({ selected_categories: selectedCategories, threshold: threshold }),
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function(data) {
                    console.log('Categories processed', selectedCategories);
                },
                error: function(xhr, status, error) {
                    console.error('Error processing categories:', error);
                }
            });
        }

        function toggleSelectAll() {
            $('input[name="selected_categories"]').prop('checked', function(i, val) {
                return !val;
            });
            submitForm();
        }

    </script>
    <script>
        document.getElementById('classification-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('/classify', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').textContent = 'Prediction: ' + data.prediction;
                document.getElementById('spectrogram').src = 'data:image/png;base64,' + data.spectrogram;
                // document.getElementById('audio-player').src = 'data:' + data.audio_mime + ';base64,' + data.audio;


                // Clear the prediction table
                var predictionTable = document.getElementById('prediction-table');
                var tableBody = predictionTable.getElementsByTagName('tbody')[0];
                tableBody.innerHTML = '';

                var sortedPredictions = Object.entries(data.predictions)
                    .sort((a, b) => b[1] - a[1])
                    .map(([label, value]) => ({ label, value }));

                // Populate the prediction table
                sortedPredictions.forEach(({ label, value }) => {
                    var row = document.createElement('tr');
                    var labelCell = document.createElement('td');
                    var predictionCell = document.createElement('td');

                    labelCell.textContent = label;
                    predictionCell.textContent = value;

                    row.appendChild(labelCell);
                    row.appendChild(predictionCell);
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').textContent = 'Error occurred during classification.';
            });
        });
    </script>
</div>

{% endblock %}
