{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <h1>Audio Classifier</h1>

        <p>Load a sound!</p>

        <form id="classification-form">
            <div class="form-group">
                <input type="file" name="audio_file" class="form-control-file"  required accept="audio/*">
                <button type="submit" class="btn btn-primary mt-3">Classify</button>
            </div>
        </form>

        
        <div class="row">
            
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>air_conditioner</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>car_horn</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>children_playing</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>dog_bark</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>drilling</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>engine_idling</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>gun_shot</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>jackhammer</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>siren</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>street_music</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <img id="spectrogram" src="">
            </div>
        </div>

        <h2 id="result"></div>

        <!-- <audio id="audio-player" controls>
            <source src="" type="audio/wav">
            Your browser does not support the audio element.
        </audio> -->

        <table id="prediction-table" class="table">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Confidence</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
    
    <script>
        document.getElementById('classification-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('/classify', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').textContent = 'Prediction: ' + data.prediction;
                document.getElementById('spectrogram').src = 'data:image/png;base64,' + data.spectrogram;
                // document.getElementById('audio-player').src = 'data:' + data.audio_mime + ';base64,' + data.audio;


                // Clear the prediction table
                var predictionTable = document.getElementById('prediction-table');
                var tableBody = predictionTable.getElementsByTagName('tbody')[0];
                tableBody.innerHTML = '';

                var sortedPredictions = Object.entries(data.predictions)
                    .sort((a, b) => b[1] - a[1])
                    .map(([label, value]) => ({ label, value }));

                // Populate the prediction table
                sortedPredictions.forEach(({ label, value }) => {
                    var row = document.createElement('tr');
                    var labelCell = document.createElement('td');
                    var predictionCell = document.createElement('td');

                    labelCell.textContent = label;
                    predictionCell.textContent = value;

                    row.appendChild(labelCell);
                    row.appendChild(predictionCell);
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').textContent = 'Error occurred during classification.';
            });
        });
    </script>
</div>

{% endblock %}
